.container{
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}
/* !Header */
header{
    width: 1920px;
    background: #262626;
    padding: 50px 320px;
    max-width: inherit;
    width: inherit;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
}
.headerUl{
    display: flex;
    gap: 68px;
}
.header_list:hover{
    color: #dc7a7a;
    font-weight: bold;

}
.header_list{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.home{
    color: #DCB47A;
}
.fa-bag-shopping{
    color: #FFFFFF;
    scale: 2;
}
.fa-bag-shopping:hover{
    color: #dc7a7a;
    font-weight: bold;
    cursor: pointer;
}
/* !Section */
.section1{
    display: flex;
    width: 100%;
    height: 1080px;
    position: relative;
    left: 0px;
    top: 130px;
}
.section1_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section1_subtitle{
    width: 100%;
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}
.section1_text{
    margin-top: 162px;
    margin-inline: 250px;
    width: 50%;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.search_bar{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    margin-inline: 250px;
    width: 50%;
    padding: 24px 30px;
    gap: 8px;
    height: 71px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 50px;
}
.search_bar_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.fa-magnifying-glass{
    scale: 2;
    display: flex;
    color: white;
}