.container{
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}
/* !Header */
header{
    width: 1920px;
    background: #262626;
    padding: 50px 320px;
    max-width: inherit;
    width: inherit;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-between;
}
.headerUl{
    display: flex;
    gap: 68px;
}
.header_list:hover{
    color: #dc7a7a;
    font-weight: bold;

}
.header_list{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.home{
    color: #DCB47A;
}
.fa-bag-shopping{
    color: #FFFFFF;
    scale: 2;
}
.fa-bag-shopping:hover{
    color: #dc7a7a;
    font-weight: bold;
    cursor: pointer;
}
/* !Section 1*/
.section1{
    display: flex;
    width: 100%;
    height: 1080px;
    left: 0px;
    top: 130px;
}
.section1_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section1_subtitle{
    width: 100%;
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}
.section1_text{
    margin-top: 162px;
    margin-inline: 250px;
    width: 50%;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.search_bar{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    margin-inline: 250px;
    width: 50%;
    padding: 24px 30px;
    gap: 8px;
    height: 71px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 50px;
}
.search_bar_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.fa-magnifying-glass{
    scale: 2;
    display: flex;
    color: white;
}
/* !section 2 */
.section2{
    margin-left: 320px;
    justify-content: space-between;
    width: 70%;
    margin-top: 245px;
}
.section_subtitle{
    font-weight: 600;
    font-size: 75px;
    line-height: 88px;
    color: #081323;
}
.section2_cards{
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
}
.card1, .card2, .card3{
    width: 390px;
    height: 388px;
    padding: 30px 41px;
    border: 1px solid #DCB47A;
}
.card_text{
     font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    margin-top: 54px;
    color: #000000;
}
.card_price{
     font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    margin-top: 17px;
    color: #000000;
}
/* !section 3 */
.section3{
    margin-top: 245px;
    margin-left: 320px;
    justify-content: space-between;
    width: 70%;
    margin-top: 245px;
}
.section3_images{
    display: flex;
    margin-top: 67px;
}
.section3_image1{
    width: 738px;
    height: 645px;
}
.section3_image2, .section3_image3{
    width: 522px;
    height: 310px;
}
/* !Footer */
footer{
    height: 378px;
    width: 100%;
    background: #262626;
    margin-top: 245px;
    padding-top: 60px;
}
.footer_subtitle{
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}
.footer_subtitle_span{
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #DCB47A;
}
.footer_text{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20.9431px;
line-height: 130%;
/* or 27px */

text-align: center;

color: rgba(255, 255, 255, 0.8);
margin-top: 49px;
margin-bottom: 49px;
}
.footer_button{
    width: 200px;
    height: 64px;
    background: #DCB47A;
    border-radius: 60px;
    margin: auto 860px;
}
.footer_button_text{
    font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}